@media screen and (max-width: 1016px) {
    .header-container {
        width: 85%;
    }

    .nav-links {
        display: none;
    }

    .lucide-chevron-right {
        display: none;
    }

    .footer-wrap {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .social-links,
    .footer-part,
    .footer-nav-list,
    .a-n-link,
    .mc {
        justify-content: center;
        text-align: center;
    }
}

@media screen and (max-width: 1016px) {
    /* Orange - bas gauche */
    .orange {
        width: 250px;
        height: 250px;
        bottom: -100px;
        left: -100px;
    }
  
    /* Violet - haut droite */
    .violet {
        width: 250px;
        height: 250px;
        background: #a259ff;
        top: 0px;
        right: 5px;
    }
  
    /* Jaune - centre */
    .yellow {
        width: 200px;
        height: 200px;
        background: #ffea00;
        top: 40%;
        left: 40%;
    }

    .hero-h1 {
        font-size: 4.5em;
        text-align: center;
    }

    .usp {
        font-size: 1.4em;
        max-width: 400px;
    }

    .about-section,
    .services-section,
    .process-projet-section,
    .nos-offres {
        margin: 0 25px 0 25px;
    }

    .hero-section {
        margin-top: 200px;
        margin-bottom: 200px;
        margin-left: 25px;
        margin-right: 25px;
    }

    .section-title {
        font-size: 2.5em;
    }

    .fp {
        flex-direction: column-reverse;
        gap: 10px;
    }
     
    .about-text {
        font-size: 1.2em;
    }

    .about-img {
        max-width: 365px;
    }

    .process-steps {
        flex-direction: column;
        align-items: center;
    }

    .lucide-chevron-right {
        display: flex;
        rotate: 90deg;
    }

    footer {
        border-radius: 20px 20px 0 0;
    }
}