:root {
    --title-color: #fe810e;
    --card-color: #ff820d;
    --header: #fff3ed;
    --text-color: #000;
    --s-color: #af4c0f;
    --title-font: 'League Spartan', sans-serif;
    --text-font1: 'Urbanist', sans-serif;
    --text-font1: 'Open Sans', sans-serif;
    --h-font: 'Questrial', sans-serif;
}

body {
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

a {
    text-decoration: none;
    color: var(--h-color);
}

li {
    list-style: none;
}

.header-container {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--header);
    border-radius: 20px;
    width: 1000px;
    padding: 18px;
    box-shadow: 0 7px 20px #0000001a;
    transition: ease 0.8s transform, ease 0.8s box-shadow;
}

.header-container:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 30px #0000001a;
}

.logo-link {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: var(--h-font);
    font-size: 1.3em;
    color: var(--text-color);
}

.logo-img {
    max-width: 40px;
    height: auto;
    border-radius: 100%;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 0;
    padding: 0;
}

li.hnll {
    font-family: var(--h-font);
    font-size: 1.2em;
    transition: all 0.3s ease-in-out;
    color: var(--text-color);
}

.hnll:hover {
    color: var(--title-color);
}

/*Header button*/
.hero-cta {
    background: linear-gradient(270deg, #ff2a00, #ff9900, #ff2a00);
    background-size: 400% 400%;
    color: white;
    padding: 16px 32px;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    animation: gradientShift 6s ease infinite;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
  
.hero-cta:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}
  
@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Hero section */
