:root {
    --title-color: #fe810e;
    --card-color: #ff820d;
    --header: #fff3ed;
    --text-color: #000;
    --s-color: #af4c0f;
    --title-font: 'League Spartan', sans-serif;
    --text-font1: 'Urbanist', sans-serif;
    --text-font2: 'Open Sans', sans-serif;
    --h-font: 'Questrial', sans-serif;
}

body {
    margin: 0;
    background: linear-gradient(to right, #ffefe4, #ffdec3);
    background-repeat: no-repeat;
}

.background .blur-circle {
    position: absolute;
    border-radius: 50%;
    filter: blur(120px);
    opacity: 0.5;
    animation: float 8s ease-in-out infinite;
}
  
/* Orange - bas gauche */
.orange {
    width: 300px;
    height: 300px;
    background: #ff9900;
    bottom: -100px;
    left: -100px;
    animation-delay: 0s;
}
  
  /* Violet - haut droite */
.violet {
    width: 300px;
    height: 300px;
    background: #a259ff;
    top: 0px;
    right: 10px;
    animation-delay: 2s;
}
  
/* Jaune - centre */
.yellow {
    width: 250px;
    height: 250px;
    background: #ffea00;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-delay: 4s;
}
  
/* Animation de flottement */
@keyframes float {
    0%, 100% {
        transform: translateY(0) scale(1);
    }
    50% {
        transform: translateY(-100px) scale(1.05);
    }
}

header {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

a {
    text-decoration: none;
    color: var(--h-color);
}

li {
    list-style: none;
}

.header-container {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--header);
    border-radius: 20px;
    width: 1000px;
    padding: 18px;
    box-shadow: 0 7px 20px #0000001a;
    transition: ease 0.8s transform, ease 0.8s box-shadow;
    z-index: 1000;
}

.header-container:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 30px #0000001a;
}

.logo-link {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: var(--h-font);
    font-size: 1.3em;
    color: var(--text-color);
}

.logo-img {
    max-width: 40px;
    height: auto;
    border-radius: 100%;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 0;
    padding: 0;
}

li.hnll {
    font-family: var(--h-font);
    font-size: 1.2em;
    transition: all 0.3s ease-in-out;
    color: var(--text-color);
}

.hnll:hover {
    color: var(--title-color);
}

/*Header button*/
.hero-cta {
    background: linear-gradient(270deg, #ff2a00, #ff9900, #ff2a00);
    background-size: 400% 400%;
    color: white;
    padding: 16px 32px;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    animation: gradientShift 6s ease infinite;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
  
.hero-cta:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}
  
@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Hero section */
.hero-section {
    margin-top: 250px;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 60vh;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-h1 {
    font-family: var(--title-font);
    font-size: 6.5em;
    font-weight: bold;
    color: var(--title-color);
    margin: 0;
    max-width: 1000px;
    /*background: linear-gradient(270deg, #fe810e, #ffd700, #fe810e);
    background-size: 400% 400%;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    animation: gradientTextAnim 5s ease infinite;*/
}
  
@keyframes gradientTextAnim {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

.usp {
    font-family: var(--text-font1);
    font-size: 1.5em;
    color: var(--text-color);
    margin-top: 20px;
    max-width: 800px;
}

.highlight-word {
    border-radius: 4px;
    color: var(--title-color);
}

.word-rotate {
    display: inline-block;
    height: 1.2em;
    overflow: hidden;
    vertical-align: bottom;
    position: relative;
}

.word-rotate .word {
    text-align: start;
    display: block;
    height: 1.4em;
    animation: rotateWords 6s infinite ease-in-out;
}

@keyframes rotateWords {
    0%, 40% {
        transform: translateY(0%);
    }

    50%, 90% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0%);
    }
} 
.cta {
    position: relative;
    font-size: 17px;
    text-decoration: none;
    padding: 1em 2.5em;
    font-family: var(--text-font1);
    display: inline-block;
    cursor: pointer;
    border-radius: 6em;
    transition: all 0.2s;
    border: none;
    color: #fff;
    background: linear-gradient(270deg,#ff2a00, #fe810e, #ff2a00 );
  }
  
.cta:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35);
}
  
.cta:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.35);
}
  
.cta::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
}
  
.cta::after {
    background: linear-gradient(270deg, #ff2a00, #fe810e, #ff2a00);;
}
  
.cta:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}
  
/*.cta {
    background: linear-gradient(270deg, #ff9900, #ff4b27, #ff2a00);
    background-size: 400% 400%;
    color: white;
    padding: 16px 32px;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    animation: gradientShift 6s ease infinite;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}*/

.cta:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 16px rgb(0 0 0 / 27%);
}

/*main*/
.section-title {
    font-family: var(--title-font);
    font-size: 3.5em;
    color: var(--title-color);
    text-align: center;
    font-weight: 600;
    margin: 50px 0;
}

.fp {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.about-text {
    font-family: var(--text-font1);
    font-size: 1.5em;
    max-width: 400px;
    box-shadow: -20px 20px 0px #fe820e34;
    padding-left: 5px;
}

.about-img {
    max-width: 520px;
    object-fit: cover;
    border-radius: 20px;
}

.subtitle {
    font-family: var(--text-font1);
    font-size: 2.2em;
    color: var(--s-color);
    text-align: center;
    margin-bottom: 20px;
}

/*Mission card*/
.mission-card-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.mission-card-title {
    font-size: 1.5em;
    max-width: 135px;
    font-family: var(--title-font);
    background: linear-gradient(270deg, #ff6600, #af4c0f);
    background-size: 100% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
  
.mission-card {
    box-sizing: border-box;
    width: 190px;
    height: 254px;
    background: rgba(254, 130, 14, 0.288);
    border: 1px solid white;
    box-shadow: 5px 11px 40px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: var(--s-color);
}
  
.mission-card:hover {
    border: 1px solid var(--s-color);
    transform: scale(1.05);
}

/*service*/
.services-section,
.process-projet-section, 
.nos-offres {
    margin-top: 80px;
}
  
.process-container {
    max-width: 800px;
    margin: auto;
    background: #ffffff61;
    backdrop-filter: blur(5px);
    padding: 40px 30px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in-out;
}
  
.steps {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
  
.step {
    display: flex;
    align-items: baseline;
    opacity: 0;
    transform: translateY(20px);
    animation: slideUp 0.8s forwards;
}
  
.step:nth-child(1) { animation-delay: 0.3s; }
.step:nth-child(2) { animation-delay: 0.6s; }
.step:nth-child(3) { animation-delay: 0.9s; }
.step:nth-child(4) { animation-delay: 1.2s; }
.step:nth-child(5) { animation-delay: 1.5s; }
  
.circle {
    min-width: 45px;
    height: 45px;
    background-color: #af4c0f;
    color: #fff;
    font-family: var(--title-font);
    font-weight: bold;
    font-size: 18px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    flex-shrink: 0;
    font-size: 1.5em;
}
  
.content h3 {
    margin: 0 0 6px;
    font-size: 1.5em;
    color: #af4c0f;
    font-family: var(--title-font);
}
  
.content p {
    margin: 0;
    color: #444;
    font-size: 15px;
    line-height: 1.5;
    font-size: 1.2em;
    font-family: var(--text-font2);
}
  
@keyframes slideUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
  
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
