:root {
    --title-color: #fe810e;
    --card-color: #ff820d;
    --header: #fff3ed;
    --text-color: #000;
    --s-color: #af4c0f;
    --title-font: 'League Spartan', sans-serif;
    --text-font1: 'Urbanist', sans-serif;
    --text-font2: 'Open Sans', sans-serif;
    --h-font: 'Questrial', sans-serif;
}

html {
	scroll-behavior: smooth;
}

body {
    margin: 0;
    background: linear-gradient(to right, #ffefe4, #ffdec3);
    background-repeat: no-repeat;
}

.background .blur-circle {
    position: absolute;
    border-radius: 50%;
    filter: blur(120px);
    opacity: 0.5;
    animation: float 8s ease-in-out infinite;
}
  
/* Orange - bas gauche */
.orange {
    width: 300px;
    height: 300px;
    background: #ff9900;
    bottom: -100px;
    left: -100px;
    animation-delay: 0s;
}
  
  /* Violet - haut droite */
.violet {
    width: 300px;
    height: 300px;
    background: #a259ff;
    top: 0px;
    right: 10px;
    animation-delay: 2s;
}
  
/* Jaune - centre */
.yellow {
    width: 250px;
    height: 250px;
    background: #ffea00;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-delay: 4s;
}
  
/* Animation de flottement */
@keyframes float {
    0%, 100% {
        transform: translateY(0) scale(1);
    }
    50% {
        transform: translateY(-100px) scale(1.05);
    }
}

header {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: var(--h-color);
}

li {
    list-style: none;
}

.header-container {
    position: fixed;
    top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--header);
    border-radius: 20px;
    width: 1000px;
    padding: 18px;
    box-shadow: 0 7px 20px #0000001a;
    transition: ease 0.8s transform, ease 0.8s box-shadow;
    z-index: 1000;
}

.header-container:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 30px #0000001a;
}

.logo-link {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: var(--h-font);
    font-size: 1.3em;
    color: var(--text-color);
}

.logo-img {
    max-width: 40px;
    height: auto;
    border-radius: 100%;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 0;
    padding: 0;
}

li.hnll {
    font-family: var(--h-font);
    font-size: 1.2em;
    transition: all 0.3s ease-in-out;
    color: var(--text-color);
}

.hnll:hover {
    color: var(--title-color);
}

/*Header button*/
.hero-cta {
    background: linear-gradient(270deg, #ff2a00, #ff9900, #ff2a00);
    background-size: 400% 400%;
    color: white;
    padding: 16px 32px;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    animation: gradientShift 6s ease infinite;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
  
.hero-cta:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}
  
@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Hero section */
.hero-section {
    margin: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-h1 {
    font-family: var(--title-font);
    font-size: 6.5em;
    font-weight: bold;
    color: var(--title-color);
    margin: 0;
    max-width: 1000px;
    /*background: linear-gradient(270deg, #fe810e, #ffd700, #fe810e);
    background-size: 400% 400%;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    animation: gradientTextAnim 5s ease infinite;*/
}
  
/*@keyframes gradientTextAnim {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}*/

.h1-span {
	display: inline-block;
	opacity: 0;
	transform: translateY(40px);
	animation: fadeInUp 0.6s ease forwards;
}

.usp {
	display: inline-block;
	opacity: 0;
	transform: translateY(-60px);
	animation: fadeInUp 0.9s ease forwards;
	letter-spacing: 0.5px;
}

.h1-span:nth-child(1) { animation-delay: 0s; }
.h1_span:nth-child(2) { animation-delay: 0.1s; }
.h1-span:nth-child(3) { animation-delay: 0.2s; }
.h1-span:nth-child(4) { animation-delay: 0.3s; }
.h1-span:nth-child(5) { animation-delay: 0.4s; }
.usp:nth-child(1) { animation-delay: 0.5s; }

@keyframes fadeInUp {
	to {
	  	opacity: 1;
	  	transform: translateY(0);
	}
}

.usp {
    font-family: var(--text-font1);
    font-size: 1.5em;
    color: var(--text-color);
    margin-top: 20px;
    max-width: 825px;
}

.highlight-word {
    border-radius: 4px;
    color: var(--title-color);
}

.word-rotate {
    display: inline-block;
    height: 1.2em;
    overflow: hidden;
    vertical-align: bottom;
    position: relative;
}

.word-rotate .word {
    text-align: start;
    display: block;
    height: 1.4em;
    animation: rotateWords 6s infinite ease-in-out;
}

@keyframes rotateWords {
    0%, 40% {
        transform: translateY(0%);
    }

    50%, 90% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0%);
    }
}

.cta {
    position: relative;
    font-size: 17px;
    text-decoration: none;
    padding: 1em 2.5em;
    font-family: var(--text-font1);
    display: inline-block;
    cursor: pointer;
    border-radius: 6em;
    transition: all 0.2s;
    border: none;
    color: #fff;
    background: linear-gradient(270deg,#ff2a00, #fe810e, #ff2a00 );
}
  
.cta:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35);
}
  
.cta:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.35);
}
  
.cta::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
}
  
.cta::after {
    background: linear-gradient(270deg, #ff2a00, #fe810e, #ff2a00);;
}
  
.cta:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}
  
/*.cta {
    background: linear-gradient(270deg, #ff9900, #ff4b27, #ff2a00);
    background-size: 400% 400%;
    color: white;
    padding: 16px 32px;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    animation: gradientShift 6s ease infinite;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}*/

.cta:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 16px rgb(0 0 0 / 27%);
}

/*main*/
.section-title {
    font-family: var(--title-font);
    font-size: 3.5em;
    color: #492007;
    text-align: center;
    font-weight: 600;
    margin: 50px 0;
}

.fp {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.section-title {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.section-title.visible {
    opacity: 1;
}

.about-text {
    font-family: var(--text-font1);
    font-size: 1.5em;
    max-width: 400px;
    box-shadow: -20px 20px 0px #fe820e34;
    padding-left: 5px;
}

.about-img {
    max-width: 520px;
    object-fit: cover;
    border-radius: 20px;
}

.subtitle {
    font-family: var(--text-font1);
    font-size: 2.2em;
    color: var(--s-color);
    text-align: center;
    margin-bottom: 20px;
}

/*Mission card*/
.mission-card-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.mission-card-title {
    font-size: 1.5em;
    max-width: 135px;
    font-family: var(--title-font);
    color: #ffc898;
    /*background: linear-gradient(270deg, #ff6600, #af4c0f);
    background-size: 100% 100%;*/
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    /*-webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;*/
    z-index: 1;
    -webkit-text-stroke: 1px black;
}
  
.mission-card {
    box-sizing: border-box;
    width: 190px;
    height: 254px;
    background: rgba(254, 130, 14, 0.288);
    border: 1px solid white;
    box-shadow: 5px 11px 40px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    user-select: none;
    font-weight: bolder;
    color: var(--s-color);
}

.illustration {
    position: absolute;
}
  
.mission-card:hover {
    border: 1px solid var(--s-color);
    transform: scale(1.05);
}

/*service*/
.services-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
  
.service-card {
    background: #f8f8f8;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 300px;
    height: 400px;
}
  
.service-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.08);
}
  
.icon-wrapper {
    height: 60px;
    margin-bottom: 1rem;
}
  
.icon-wrapper img {
    height: 100%;
    object-fit: contain;
}
  
.service-title {
    font-size: 1.4rem;
    font-family: var(--title-font);
    color: #111827;
    margin-bottom: 1rem;
}
  
.service-text {
    font-family: var(--text-font1);
    font-size: 1rem;
    color: #4b5563;
    line-height: 1.6;
}
  
.services-section,
.process-projet-section, 
.nos-offres {
    margin-top: 80px;
}

.process-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 40px;
    color: #333;
}

.process-steps {
    /*display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.step-card {
    background-color: #f8f8f8;
    border-radius: 16px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.05);
    width: 200px;
    height: 250px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
}

.step-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 25px rgba(0,0,0,0.1);
}

.step-number {
    font-size: 1.5rem;
    font-family: var(--title-font);
    font-weight: 700;
    color: #ffffff;
    background: linear-gradient(45deg, #ff2a00, #fe810e);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.step-title {
    font-size: 1.2rem;
    font-weight: bold;
    font-family: var(--title-font);
    color: #222;
}

.step-desc {
    font-size: 0.95rem;
    font-family: var(--text-font2);
    color: #666;
    line-height: 1.5;
}

.offers-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    padding-bottom: 100px;
    max-width: 1200px;
    margin: auto;
  }
  
  .o-c-content {
    background: #f8f8f8;
    border-radius: 16px;
    box-shadow: 0 10px 24px rgba(0, 0, 0, 0.05);
    padding: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .o-c-content:hover {
    transform: translateY(-6px);
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.1);
  }
  
  .o-c-content h3 {
    font-size: 1.6rem;
    font-family: var(--title-font);
    margin-bottom: 20px;
    color: #111;
    border-bottom: 2px solid #eaeaea;
    padding-bottom: 10px;
  }
  
  .op-n {
    margin-top: 20px;
    font-family: var(--text-font2);
  }
  
  .op-u {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .op-l {
    position: relative;
    margin-bottom: 14px;
    padding-left: 28px;
    line-height: 1.5;
    color: #444;
  }
  
  .op-l::before {
    content: '✔';
    position: absolute;
    left: 0;
    top: 0;
    color: #fe810e;
    font-weight: bold;
    font-size: 1rem;
  }
  

/*Footer*/
footer {
    background: var(--title-color);
    border-radius: 50px 50px 0 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-top: 20px;
    padding-bottom: 50px;
}

.form-book {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-title {
    font-family: var(--title-font);
    font-size: 2.5em;
    color: var(--text-color);
}

.form-container {
    display: flex;
    flex-direction: column;
}
.form-textarea,
.form-input {
    width: 350px;
    padding: 15px;
    border: none;
    background-color: #ffffff3b;
    border-radius: 10px;
    margin-bottom: 15px;
    font-family: var(--text-font1);
}

.form-textarea {
    height: 80px;
    resize: none;
}

input::placeholder,
textarea::placeholder {
    color: #fff3ed !important;
    font-size: 1.2em;
}

button.form-button {
    background: var(--s-color);
    color: white;
    padding: 12px 30px;
    font-size: 1.2rem;
    font-family: var(--text-font1);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
}

button.form-button:hover {
    background: #492007;
}

.footer-wrap {
    display: flex;
    justify-content: center;
    gap: 200px;
}

.a-n-link {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.4em;
    color: var(--text-color);
}

.footer-logo {
    max-width: 25px;
}

.agency-name {
    font-family: var(--h-font);
    color: var(--text-color);
}

.a-p p {
    font-family: var(--text-font1);
    font-size: 1.2em;
    color: var(--text-color);
    margin: 10px;
}

.a-c {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.mc {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: var(--text-font1);
    margin-left: 10px;
}
.svg {
    color: #b3b3b3;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    border: none;
    width: 22px;
    height: 22px;
    background: linear-gradient(223deg, #ff906d, #FF9800);
    box-shadow: inset 0px 0px 5px #ff9800;
    color: white;
}

.btn-icon {
    box-shadow: 3px 1px 20px #2222222b;
}

.footer-part {
    font-family: var(--title-font);
    font-size: 1.8em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer-nav-list ul {
    padding-left: 10px;
    margin-top: 0;
}

.footer-nav-list li {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    font-family: var(--text-font1);
    font-size: 1.2em;
}

.social-links {
    display: flex;
    gap: 5px;
    margin-left: 10px;
}

.lucide-instagram,
.scg-tiktok {
    transition: color 0.3s ease;
    color: #000;
}

.lucide-instagram:hover,
.scg-tiktok:hover {
    color: #ffdec3;
}

.highlight {
    color: var(--title-color);
}

.bottom-line {
    width: 100%;
    height: 1px;
    color: #fff;
    background-color: #ffffff;
	border: none;
    margin: 0;
}

.bottom {
    display: flex;
    justify-content: flex-end;
    background-color: #fe810e;
}
.filigrane {
    font-family: var(--text-font1);
    padding: 10px 20px;
}